*{
	
	margin: 0;
	padding: 0;
	/*background-image:;*/
}

/*------body------*/
body{
	
	background: linear-gradient(#D375CB, #4A1B56);
	
}
/*------------header------------*/

header{
	
	border-bottom: 3px solid black;
	border-radius: 30px;
	
}

header:hover{
	
	background: #C8A2C8;
	
}
header nav{
	
	padding: 10px;
	
}

header nav ul{
	
	display: flex;
	justify-content:space-around;
	
}
header nav ul #texto li {
	list-style-type: none;
	padding: 5px;
	
	

}
header nav ul #texto{
	display:flex;
	width: 70%;
	border: 3px solid black;
	justify-content:space-around;
	
}
header nav ul li{
	
	list-style-type: none;
}
header nav ul li img{
	width:75px;
	border-radius:35%;
	border: 2px solid #7C18AD;
}
header nav ul #texto li a{
	
	text-decoration:none;
	font-size-adjust: 20px;
	font-family: lucida calligraphy;
	color: white;
}

header nav ul #texto li a:hover{
	

}

/*------------section------------*/

section #esquerda{

	width: 45%;

}
section #direita{
   position: relative;
   left: 700px;
   bottom: 400px;
   width: 45%;
	
	
}
section #esquerda img{
    margin: 20px 12px ;
	
	width: 57%;
	border-radius: 30px;
    border: 2px solid white;
}

section #direita p{

	width: 50%;
	color: white;
	font-size: 50px;
	
}

section #produtos{
	
	display: flex;
	
	
}
 #produtos img{
	
	width: 200px;
	height: 200px;
	border-radius: 30px;
	border: 2px solid white;
	margin: 10px;
}
 #produtos p{
	 color: white;
	 font-size: 20px;
	 font-family:
	
}