*{
	
	margin: 0;
	padding: 0;
	/*background-image:;*/
}

/*------body------*/
body{
	
	background: linear-gradient(#D375CB, #4A1B56);
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}
/*------------header------------*/

header{
	
	border-bottom: 3px solid black;
	border-radius: 30px;
	
}

header:hover{
	
	background: #C8A2C8;
	
}
header nav{
	
	padding: 10px;
	
}

header nav ul{
	
	display: flex;
	justify-content:space-between;
	
}
header nav ul li{
	
	padding: 5px;
	list-style-type: none;
	
}
header nav ul li a{
	
	text-decoration: none;
	font-family: lucida calligraphy;
	color: white;
}

/*header nav ul li #cadastrar a{
	 display:flex;
	 text-decoration: none;
	 font-size: 22px;
	 font-family: lucida calligraphy;
	 color: white;
	 padding-top: 1000px;
}*/

header nav ul li a:hover{
	
	color: #FFC1F8;
	
}
header nav ul li img{
	
	width: 75px;
	border-radius: 50%;
	border: #D375CB;
	
}


/*------------section------------*/

section #esquerda{

	width: 45%;

}
section #esquerda img{
	width: 80%;
	
}

section #direita p{
	
	width: 50%;
	color: white;
	font-size: 80px;
	
}
#direita{
	
	position: absolute;
	top: 150px;
	left: 700px;
	bottom: 400px;
}

#produtos{
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	/*position: absolute;*/
	/*top: 300px;*/
	justify-content: center;
}

.roupas{
	
	border: 3px solid white;
	border-radius: 30px;
	margin: 5px;
	width: 30%;
	width: 300px;
	height: 600px;
	position: relative;
	
}

.roupas p{
	
	color: white;
	font-size: 20px;
	padding: 10px;
}
.roupas img{
	
	border-radius: 30px 30px 0 0 ;
	width: 300px;
	height: 300px;
	
}

.roupas a{
	
	text-decoration: none;
	background-color: white;
	color: #7C18AD;
	padding: 12px;
	border-radius: 45px;
	display: flex;
	/*margin: 30px 50px 0 50px;*/
	justify-content: center;
	position: absolute;
	top: 500px;
	left: 100px;
	right: 100px;
}
/*-----fade-----*/
#fade{
	
	position: absolute;
	bottom: 8px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 5;
}
#modal_card{
	position: relative;
	top: 30%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
    border: 1px solid #4fa81b;
	border-radius: 12%;
	width: 300px;
	height: 150px;
	z-index: 7;
	background-color: #fff;
	box-shadow: 20px 30px 10px black;
	padding: 10px;
	
}
#fade,#modal_card{
	opacity: 1;
	pointer-events: all;
	transition: 0.5s;
	
}

#fade.hide,#modal_card.hide{
	opacity: 0;
	pointer-events: none;
	z-index:  -5;
}
/*-----cadastre-se-----*/

#cadastre-se h2{
		
	margin: 50px;
	font-family: lucida calligraphy;
	color: white;
	
}

#cadastre-se form{
	
	margin: 50px;
	font-family: lucida calligraphy;
	color: white;
	
}

#cadastre-se form .botao{
	
	border-radius: 10px;
	border: 1px solid black;
	background-color: #FF56E9;
	color: #882CA3;
	width: 8%;
	
}
#cadastre-se .sair{
	
	position: absolute;
	text-decoration:none;
	top: 4%;
	left:90%;
	font-family: lucida calligraphy;
	font-size: 60px;
	color: white;
	background: none;
	border: none;
	
}
#X {
	
	position: absolute;
	top: 5%;
	left: 90%;
	text-decoration: none;
	font-size: lucida calligraphy 20px; 
    color: black;
}
#Entrar{
	
	background-color: #D375CB;
	color: white;
	border-radius:12px;
	border: 1px solid #4A1B56;
	margin: 5px;
	padding: 5px;
}
/*#Entrar{
	color: linear-gradient(#D375CB, #4A1B56);
	background-color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 20px; 

	
	cursor: pointer;
}
#Entrar:focus,
#Entrar:active{
	outline: none;
	background-color: darkblue;
}*/